*,
::after,
::before {
  box-sizing: border-box;
}
body,
article,
main,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
:root {
  --main-color: purple;
}
